BicDuino/BicDuino.xcodeproj/project.xcworkspace/xcuserdata/sakrist.xcuserdatad/UserInterfaceState.xcuserstate
BicDuino/BicDuino.xcodeproj/xcuserdata/sakrist.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BicDuino/BicDuino.xcodeproj/xcuserdata/sakrist.xcuserdatad/xcschemes/BicDuino.xcscheme
BicDuino/BicDuino.xcodeproj/xcuserdata/sakrist.xcuserdatad/xcschemes/xcschememanagement.plist
